@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.bodycolor {
    margin: 0;
    background-color: rgb(62, 68, 60);
    padding-bottom: 0px;
}

.light-mode {
    background-color: rgb(160, 183, 224);

    .header {
        background-color: rgb(192, 247, 255);
        color: rgb(73, 232, 255);
    }

    .txthighlight {
        color: rgb(255, 255, 255);
    }

    .maintxt {
        color: rgb(57, 56, 82);
    }

    .topmenu {
        background-color: rgb(114, 129, 177);
        color: rgb(148, 247, 255);
    }

    .footer {
        background-color: rgb(114, 129, 177);
    }

    .material-symbols-outlined {
        color: rgb(255, 255, 255);
    }

    .theme-button {
        border-color: aqua;
    }


}

.header {
    position: absolute;
    background-color: rgb(130, 140, 81);
    color: rgb(85, 92, 69);
    font-family: Nosifer;
    text-align: center;
    width: 100%;
    margin: 0;
    z-index: 0;
}

.txthighlight {
    font-family: "Carter One", serif;
    color: rgb(166, 185, 111);
    padding-left: 15%;
    text-align: left;
    font-size: 28px;
}

.maintxt {
    font-family: Merriweather;
    color: rgb(190, 214, 158);
    padding-left: 15%;
    text-align: justify;
    text-indent: 2cap;
    width: 75%;
    font-size: 16px;
}

@media (max-aspect-ratio:1/1) {

    .txthighlight {
        display: flex;
        align-items: center;
        padding-left: 2%;

    }

    .maintxt {
        display: flex;
        align-items: center;
        padding-left: 2%;
        width: 96%;
    }
}

.topmenu {
    background-color: rgb(41, 41, 41);
    height: 175px;
}

.homelink img {
    position: relative;
    top: 65px;
    width: 100px;
    height: auto;
    z-index: 1;
    overflow: hidden;
}

.homelink img:hover {
    transition: 0.3s ease-in-out;
    filter: brightness(1.5);
}

.material-symbols-outlined {
    color: rgb(190, 214, 158);
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.theme-button {
    width: 47px;
    height: 45px;
    background-color: transparent;
    border-color: darkolivegreen;
    border-radius: 30px;
    position: relative;
    z-index: 3;
    cursor: pointer;
}

.footer {
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
    padding: 20px 0;
    text-align: center;
}

.footer a {
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.footer a:hover {
    text-decoration: underline;
}